<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invest.io</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <h1>Easy Invest</h1>
        <nav>
            <ul>
                <li><a href="src/views/Home.html">Home</a></li>
                <li><a href="src/views/GetStarted.html">Get Started</a></li>
                <li><a href="src/views/StockIdeas.html">Stock Ideas</a></li>
                <li><a href="src/views/MyTaxes.html">My Taxes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="stock-ideas" class="section" >
            <h2>Stock Ideas</h2>
            <p>Explore potential investment opportunities and ideas.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Easy Invest. All rights reserved.</p>
    </footer>
</body>
</html>

